.footer {
  background-color: #022c16;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: flex-end;
  margin-top: 10%;
  padding: 8px 10%;
  width: 100%;
}
